{{! Using the component's yield block }}
<p>The quick brown {{#tool-tip title="who is quick and brown"}}fox{{/tool-tip}} jumped over the lazy dog.</p>

{{! Using the component's text attribute }}
<p>The quick brown {{tool-tip text="fox" title="who is quick and brown"}} jumped over the lazy dog.</p>