<p>The quick brown
    {{#tool-tip}}
        fox
        <div data-tooltip-content>
            <p>Remember:</p>
            <table class="table table-bordered">
                <tbody>
                <tr role="row">
                    <th>Fox</th>
                    <td>quick</td>
                    <td>brown</td>
                </tr>
                <tr role="row">
                    <th>Dog</th>
                    <td>lazy</td>
                    <td>old (probably)</td>
                </tr>
                </tbody>
            </table>
        </div>
    {{/tool-tip}}
jumped over the lazy dog.</p>