{{!--
    The property foxFacts is defined in the controller as:
    "who is <ol><li>quick</li><li>brown</li></ol>"
--}}
<p>The quick brown {{tool-tip text="fox" content=foxFacts}} jumped over the lazy dog.</p>