$headings-font-weight: 300;

$pagination-padding-y: 8px;
$pagination-padding-x: 12px;

$pagination-border-color: #dadfe3;

$pagination-hover-bg: #eeeeee;
$pagination-hover-color: #23527c;
$pagination-hover-border: $pagination-border-color;

$pagination-active-bg: #F16325;
$pagination-active-color: #FFFFFF;
$pagination-active-border: $pagination-border-color;
