{{#if (is-component (concat 'addon/usage/components/' model.name))}}
    {{component (concat 'addon/usage/components/' model.name) model=model}}
{{else}}
    <p>No usage documentation has been created for <code>{{model.prettyName}}</code> yet. Check back soon!</p>
{{/if}}