<div id="api-options" class="api-options float-xs-right">
    Show:
    <label for="api-show-inherited" class="form-check-inline">
        <input type="checkbox" id="api-show-inherited" class="form-check-input" checked> Inherited
    </label>

    <label for="api-show-protected" class="form-check-inline">
        <input type="checkbox" id="api-show-protected" class="form-check-input"> Protected
    </label>

    <label for="api-show-private" class="form-check-inline">
        <input type="checkbox" id="api-show-private" class="form-check-input"> Private
    </label>

    <label for="api-show-deprecated" class="form-check-inline">
        <input type="checkbox" id="api-show-deprecated" class="form-check-input"> Deprecated
    </label>
</div>