<div class="site-home">
    <div class="row mt-2">
        <div class="col-xs-12">
            <h1 class="text-xs-center mb-3">Sharing is caring</h1>
            <p class="lead text-xs-center mb-3">The National Science Foundation is embracing Ember to help them build some truly ambitious web applications. We are many projects, but we often have similar goals. So, why not share our hard work with each other?</p>

            <p class="lead text-xs-center mb-3">These components were created for efficient and consistent development across NSF Ember projects. While they contain basic, base styling, reference your project’s style guide and the <a href="https://inside2.nsf.gov/enterprise_ui/index.html">Enterprise UI Standards</a> to ensure accurate implementation.</p>


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-xs-center mt-2">Say What Now?</h3>
            <p class="text-xs-center">Ember CLI, which all of our Ember-backed projects use, offers a great little concept known as the <em>addon</em>. With addons, extending the capabilities of your Ember application can be as easy as adding a new dependency to your NPM manifest. There is one nasty little limitation however: Ember CLI expects your dependency to be utilizing some form of the GIT version control system (VCS). Here at NSF, we are currently using Subversion as our VCS and as such cannot author our own addons for sharing.</p>
            <p class="text-xs-center">And so here we have this project, which aims to make the vision of sharing reusable components, services, and other utilities a reality despite this current hindrance. We can accomplish this by using the combo trick of <em>in repo addon</em>s, and <em>SVN external</em>s. With a few tweaks to your current project, you can import a copy of any of the addons found in this site and be on your way.</p>
        </div>
    </div>
</div>